<!DOCTYPE html>
<html lang="en" ng-app="example-app">
  <head>
    <meta charset="utf-8" />
    <title>angular-tokens example</title>
    <link rel="stylesheet" type="text/css" href="../bower_components/tokens/dist/tokens.css">
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../dist/angular-tokens.js"></script>
    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/fidel/dist/fidel.min.js"></script>
    <script src="../bower_components/tokens/dist/fidel.tokens.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-controller="MainController">
      <input type="text" tokens token-suggestions="suggestions" tokens-add="addTest()" tokens-remove="removeTest()" ng-model="selected"/>

		<button ng-click="addRandomValueToModel()">Add randon value to model</button>
    </div>
  </body>
</html>
